:root {
  /* Color properties */
  --color-white: #e0e0e0;
  --color-black: #0a0a0a;

  --color-bg: #ffffff;
  --color-bg-base: #fcfdff;
  --color-bg-light: #f3f4fd;
  --color-bg-light-hover: #c0c6f6;
  --color-bg-light-active: #c0c6f6;

  --color-border: #606380;
  --color-border-weak: #a0a4c988;

  --color-text: #27223d;
  --color-text-static: #27223d;
  --color-text-light: #393350;
  --color-text-lighter: #706891;
  --color-text-white: #fff;

  --color-accent: #5665ea;
  --color-highlight: #eec978;
  --color-highlight-hover: #ddb55e;

  --color-bg-highlight: #eec97862;
  --color-bg-highlight-hover: #ddb55e80;
}

:root.dark-theme {
  --color-bg: #100f13;
  --color-bg-base: #141318;

  --color-bg-light: #18181f;
  --color-bg-light-hover: #292536;
  --color-bg-light-active: #292536;

  --color-white: #0a0a0a;
  --color-black: #e0e0e0;

  --color-border: #282931;
  --color-border-weak: #191a1f;

  --color-text: #dedbe7;
  --color-text-light: #b1adc4;
  --color-text-lighter: #8b8899;
  --color-text-white: #fff;

  --color-accent: #949df5;

  --color-bg-highlight: #f0bc4b15;
  --color-bg-highlight-hover: #f0bc4b28;
}
