@import './button-colors';
@import './button-sizes';
@import './details';

.button {
  @include font(400);
  @include t();
  @include flex(5px, flex-start);
  border-radius: var(--radius-tn);
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  font-size: 1.6rem;
  color: var(--color-text);
  text-decoration: none;

  svg {
    @include t();
    font-size: 1.4rem;
    color: var(--color-text);
  }

  &:disabled {
    pointer-events: none !important;
    opacity: 0.5;
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg-light-hover);
  }
}

.round-btn {
  padding-inline: 0;
  width: 42px;
  justify-content: center;
}
