@media screen and (max-width: 1092px) {
  .route-map-list .map-list .map-item.new-record .details-button::after {
    position: relative;
    left: unset;
    top: unset;
  }

  .navigation .nav-latest {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .navigation .nav-links a {
    width: 96px;
    font-size: 1.6rem;
  }
}
