@media screen and (max-width: 928px) {
  .navigation {
    padding-inline: 24px;

    .logo-wrap {
      max-width: 128px;
      min-width: 128px;

      img {
        width: 100%;
      }
    }

    .nav-links a {
      width: auto;
      padding-inline: 16px;
      font-size: 1.4rem;
    }
  }

  .scroll-up {
    display: none;
  }

  .container {
    padding-inline: 24px;
    max-width: 100% !important;
  }

  .filter-wrap {
    flex-wrap: wrap;
    justify-content: center;

    &:after {
      display: none;
    }
  }

  .route-players table tr {
    td {
      padding: 16px 8px;
      font-size: 1.2rem;

      &:not(:first-child) {
        white-space: normal;
      }

      .player-item,
      &.latest-record {
        font-size: 1.2rem;
      }
    }
  }

  .route-players {
    .route-players-container {
      overflow-x: auto;

      table {
        min-width: 680px;
      }
    }
  }

  // Disable tooltips for touch screen devices
  [data-title-left],
  [data-title-right],
  [data-title-bottom],
  [data-title-bottom-left],
  [data-title-bottom-right],
  [data-title-top],
  [data-title-top-left],
  [data-title-top-right] {
    &:before {
      display: none !important;
    }
  }
}
