.navigation {
  @include flex(16px);
  position: relative;
  width: 100%;
  padding: 40px;

  --links-height: 42px;

  .nav-links {
    display: grid;
    gap: 0;
    border-radius: calc(var(--links-height) / 2);
    height: var(--links-height);
    background-color: var(--color-bg-light);

    a {
      @include t();
      @include font(700);
      width: 144px;
      text-align: center;
      font-size: 1.6rem;
      height: var(--links-height);
      line-height: var(--links-height);
      text-decoration: none;
      color: var(--color-text);
      border-radius: calc(var(--links-height) / 2);
      text-transform: capitalize;
      color: var(--color-text);

      &.active,
      &:hover {
        background-color: var(--color-bg-light-hover);
      }
    }
  }

  .nav-theme {
    @include flex(0, center, center);
    width: var(--links-height);
    height: var(--links-height);
    border-radius: 100%;
    background-color: var(--color-bg-light);

    svg {
      width: 24px;
      height: 24px;
      color: var(--color-text);
    }

    &:hover {
      background-color: var(--color-bg-light-hover);
    }
  }

  .nav-latest {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 16px;
    position: relative;
    margin-left: 16px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid var(--color-border-weak);
    }

    & > span {
      color: var(--color-accent);
      font-size: 1.6rem;
    }

    p {
      display: flex;
      gap: 2px;
      font-size: 1.4rem;
      color: var(--color-text-lighter);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      strong {
        font-size: inherit;
      }
    }
  }
}
