/*
Utility layout classes
*/

:root {
  --container-size: 928px;
  --container-size-s: 728px;
}

.flex {
  @include flex(15px);

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.align {
    align-items: center;
  }

  &.right {
    justify-content: flex-end;
  }

  &.gap-8 {
    gap: 10px;
  }
}

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: var(--container-size);
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

.card {
  padding: 16px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  border-radius: 16px;
  width: 100%;
}
