.form-checkbox {
  &.highlight input[type='checkbox'] + label {
    position: relative;
    z-index: 5;

    &:after {
      content: '';
      position: absolute;
      right: 1px;
      top: 1px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--color-highlight);
      z-index: 5;
      box-shadow: 0 0px 6px rgba(#eec978, 0.3);
    }
  }

  input[type='checkbox'] {
    display: none;

    & + label {
      @include flex(15px, center, center);
      cursor: pointer;
      width: var(--form-item-height);
      height: var(--form-item-height);
      border-radius: 100%;
      border: 1px solid var(--color-border);
      background-color: var(--color-bg-light);

      svg {
        @include t();
        color: var(--color-text-light);
        font-size: 2rem;
        width: 24px;
      }

      &:hover {
        color: var(--color-text);
      }
    }

    &:checked + label {
      background-color: var(--color-bg-light-active);
    }
  }
}

:root.dark-theme .form-checkbox input:checked + label {
  background-color: var(--color-accent);

  svg {
    color: var(--color-white);
  }
}
