.form-select {
  position: relative;
  z-index: 100;

  &.config {
    .form-select-dropdown {
      padding: 8px;
      width: 292px;
    }
    .select-button {
      padding-right: 16px;
    }
  }

  &.has-input {
    background-color: var(--color-bg-light-hover);
  }

  .select-button {
    @include flex(4px, space-between, center);
    @include font(400);
    width: 100%;
    height: var(--form-item-height);
    padding-left: 16px;
    padding-right: 8px;
    color: var(--color-text);
    background-color: transparent;
    font-size: 1.6rem;

    span {
      font-size: inherit;
    }

    svg {
      transform: translateY(2px);
    }
  }

  .form-select-dropdown {
    @include noscrollbar();
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-light);
    width: 192px;
    max-height: 512px;

    .form-search {
      min-width: unset;
      border-radius: 0 !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      position: sticky;
      top: 0;
      z-index: 5;
      background-color: var(--color-bg);

      .form-search-icon {
        display: none;
      }

      input {
        width: 100%;
        padding-left: 16px;
        // border-radius: ;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: var(--form-item-height);
      padding-right: 8px;

      span {
        display: flex;
        align-items: center;
      }

      &:before {
        @include t();
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 100%;
        right: 8px;
        top: calc(50% - px);
        background-color: var(--color-accent);
        opacity: 0;
      }

      &.active {
        @include font(700);
        background-color: var(--color-bg-light-hover);

        color: var(--color-text);
      }
    }
  }
}
