input {
  @include font(400);
  @include t();
  display: block;
  width: 100%;
  height: var(--form-item-height);
  padding: 0 8px;
  color: var(--color-text);
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}

input[type='text'] {
  padding-left: 48px;
  padding-right: 24px;
}

.form-search {
  position: relative;
  // min-width: 208px;
  @include t();

  &.has-input {
    background-color: var(--color-bg-light-hover);
  }

  .form-clear-icon,
  .form-search-icon {
    position: absolute;
    left: 16px;
    top: 5px;
  }

  .form-clear-icon {
    right: 0;
    left: unset;
    top: 1px;
    height: var(--form-item-height);
  }
}

::placeholder {
  @include font(400);
  color: var(--color-text);
  opacity: 1;
  text-overflow: ellipsis;
}
